<html lang='en'>

  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>KMY Dev</title>
    <link
      rel='stylesheet'
      href='https://cdn.jsdelivr.net/gh/devicons/devicon@v2.11.0/devicon.min.css'
    />
    <!-- Font Awesome -->
    <link
      rel='stylesheet'
      href='https://use.fontawesome.com/releases/v5.15.3/css/all.css'
      integrity='sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk'
      crossorigin='anonymous'
    />
    <!-- Google Fonts -->
    <link rel='preconnect' href='https://fonts.gstatic.com' />
    <link
      href='https://fonts.googleapis.com/css2?family=Itim&family=Prompt&family=Roboto&display=swap'
      rel='stylesheet'
    />
    <!-- Custom Scss -->
    <link rel='stylesheet' href='/css/app.css' />
  </head>

  <body>
    <nav class='navbar navbar-expand-md navbar-dark px-4'>
      <a href='/' class='navbar-brand mb-0'>
        <h3>KMY<small>dev</small></h3>
      </a>
      <button
        class='navbar-toggler'
        type='button'
        data-bs-toggle='collapse'
        data-bs-target='#kmyNav'
        aria-controls='kmyNav'
        aria-expanded='false'
        aria-label='Toggle navigation'
      >
        <span class='navbar-toggler-icon'></span>
      </button>
      <div class='collapse navbar-collapse' id='kmyNav'>
        <ul class='navbar-nav text-center ms-auto'>
          <li class='nav-item'>
            <a href='/' class='nav-link'>Home</a>
          </li>
          <li class='nav-item'>
            <a href='#aboutMe' class='nav-link'>About</a>
          </li>
          <li class='nav-item'>
            <a href='#myWork' class='nav-link'>My Work</a>
          </li>
          <li class='nav-item'>
            <a href='#contactMe' class='nav-link'>Contact Me</a>
          </li>
        </ul>
      </div>
    </nav>

    {{{body}}}

    <footer class='container-fluid mt-4 p-2' id='contactMe'>
      <div>
        <ul
          class='nav text-center justify-content-center flex-column flex-sm-row pt-3'
        >
          <li class='nav-item'>
            <a href='https://github.com/Youngin9210' class='nav-link'>
              <i class='devicon-github-original-wordmark'></i>
            </a>
          </li>
          <li class='nav-item'>
            <a
              href='https://www.linkedin.com/in/kyle-young-2305b032/'
              class='nav-link'
            >
              <i class='devicon-linkedin-plain'></i>
            </a>
          </li>
        </ul>
      </div>
      <div>
        <ul
          class='nav text-center justify-content-center flex-column flex-sm-row pt-3'
        >
          <li class='nav-item'>
            <a href='' class='nav-link'>937-670-2584</a>
          </li>
          <li class='nav-item'>
            <a href='' class='nav-link'>kmydev1719@gmail.com</a>
          </li>
        </ul>
      </div>
    </footer>

    <script
      src='https://code.jquery.com/jquery-3.6.0.min.js'
      integrity='sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4='
      crossorigin='anonymous'
    ></script>
    <script
      src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js'
      integrity='sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49'
      crossorigin='anonymous'
    ></script>
    <script src='/bootstrap/dist/js/bootstrap.min.js'></script>
    <script src='/js/app.js'></script>
    <script src='/js/contact.js'></script>
  </body>

</html>