<section id='hero' class='d-flex justify-content-center align-items-center'>
  <div id='overlay'></div>
  <div id='header' class='container text-white text-center'>
    <img id='headshot' src='/images/headshot.png' alt='' srcset='' />
    <h1 id='name' class='display-1 mb-0'>Kyle Young</h1>
    <h3 class='display-5'>Full Stack Developer</h3>
    <button
      class='btn btn-primary btn-lg'
      data-bs-toggle='modal'
      data-bs-target='#contactModal'
    >Contact Me!</button>
  </div>
</section>

<section id='aboutMe' class='m-4 py-4'>
  <div class='container text-center my-5'>
    <h5 class='display-6'>Hello!</h5>
    <p class='lead'>My name is Kyle Young and I am a Full Stack Developer!</p>
    <div class='container-fluid mb-4' id='technologies'>
      <span><i class='devicon-html5-plain-wordmark colored'></i></span>
      <span><i class='devicon-css3-plain-wordmark colored'></i></span>
      <span><i class='devicon-bootstrap-plain colored'></i></span>
      <span><i class='devicon-javascript-plain colored'></i></span>
      <span><i class='devicon-jquery-plain-wordmark colored'></i></span>
      <span><i class='devicon-nodejs-plain colored'></i></span>
      <span><i class='devicon-npm-original-wordmark colored'></i></span>
      <span><i class='devicon-express-original colored'></i></span>
      <span><i class='devicon-mysql-plain colored'></i></span>
      <span><i class='devicon-sequelize-plain colored'></i></span>
      <span><i class='devicon-handlebars-plain colored'></i></span>
      <span><i class='devicon-github-original-wordmark colored'></i></span>
      <span><i class='devicon-git-plain-wordmark colored'></i></span>
      <span><i class='devicon-heroku-original-wordmark colored'></i></span>
      <span><i class='devicon-slack-plain colored'></i></span>
      <span><i class='devicon-visualstudio-plain colored'></i></span>
    </div>
    <p class='lead'>Take a look at my resume below!</p>
    <!-- downloadable resume -->
    <a
      href='/assets/resume/Resume.pdf'
      class='btn btn-info btn-lg'
      download
    >Resume
      <i class='fas fa-download'></i>
    </a>
  </div>
</section>

<section class='container-fluid my-4 py-3' id='myWork'>
  <h3 class='display-4 text-center m-3'>My Work</h3>
  <!-- Lost & Found -->
  <div class='container-fluid projectContainer' id='lostFound'>
    <div class='row g-0 my-3 projectRow'>
      <div class='col-lg-6 text-left projectText p-5'>
        <h5 class='display-6'>Lost & Found</h5>
        <p class=''>
          A group project designed to allow users help one another by finding
          lost items throughout the world!
        </p>
        <h5>Technologies Used:</h5>
        <ul class='technologyList'>
          <li>Javascript</li>
          <li>Node.js</li>
          <li>Express.js</li>
          <li>Sequelize</li>
          <li>Handlebars</li>
          <li>Bootstrap</li>
        </ul>
        <a
          href='https://glacial-fortress-45860.herokuapp.com/'
          target='_blank'
          class='btn btn-lg btn-primary'
        >Show Me!</a>
      </div>
      <div class='col-lg-6 d-none d-sm-block imgContainer'>
      </div>
    </div>
  </div>
  <!-- Tech Blog -->
  <div class='container-fluid projectContainer' id='techBlog'>
    <div class='row g-0 my-3 projectRow'>
      <div class='col-lg-6 order-lg-2 text-left projectText p-5'>
        <h5 class='display-6'>Tech Blog</h5>
        <p class=''>
          An app utilizing MVC file structure to create a "Tech Blog" where
          users can interact with one another's blog posts.
        </p>
        <h5>Technologies Used:</h5>
        <ul class='technologyList'>
          <li>Javascript</li>
          <li>Node.js</li>
          <li>Express.js</li>
          <li>Sequelize</li>
          <li>Handlebars</li>
          <li>Bootstrap</li>
        </ul>
        <a
          href='https://nameless-basin-78183.herokuapp.com/'
          class='btn btn-lg btn-primary'
          target='_blank'
        >Show Me!</a>
      </div>
      <div class='col-lg-6 order-lg-1 d-none d-sm-block imgContainer'>
      </div>
    </div>
  </div>
  <!-- Note Taker -->
  <div class='container-fluid projectContainer' id='noteTaker'>
    <div class='row g-0 my-3 projectRow'>
      <div class='col-lg-6 text-left p-5 projectText'>
        <h5 class='display-6'>Note Taker</h5>
        <p class=''>
          Note Taker is an app designed to help a user make notes more
          accessible without using pen and paper. Take your notes on the go!
        </p>
        <h5>Technologies Used</h5>
        <ul class='technologyList'>
          <li>Javascript</li>
          <li>Node.js</li>
          <li>Express.js</li>
          <li>Heroku</li>
          <li>uuidv4 npm package</li>
          <li>Bootstrap</li>
        </ul>
        <a
          href='https://lit-headland-57656.herokuapp.com/'
          class='btn btn btn-lg btn-primary'
          target='_blank'
        >Show Me!</a>
      </div>
      <div class='col-lg-6 d-none d-sm-block imgContainer'>
      </div>
    </div>
  </div>
  <!-- Weather Dashboard -->
  <div class='container-fluid projectContainer' id='weatherDash'>
    <div class='row g-0 my-3 projectRow'>
      <div class='col-lg-6 order-lg-2 text-left projectText p-5'>
        <h5 class='display-6'>Weather Dashboard</h5>
        <p class=''>
          A jQuery app that utilizes Moment.js and Bootstrap to create a weather
          dashboard for a city being searched by the user.
        </p>
        <h5>Technologies Used:</h5>
        <ul class='technologyList'>
          <li>jQuery</li>
          <li>Moment.js</li>
          <li>Bootstrap</li>
        </ul>
        <a
          href='https://youngin9210.github.io/Weather-Dashboard/'
          class='btn btn-lg btn-primary'
          target='_blank'
        >Show Me!</a>
      </div>
      <div class='col-lg-6 order-lg-1 d-none d-sm-block imgContainer'></div>
    </div>
  </div>
</section>

<div
  class='modal fade'
  tabindex='-1'
  role='dialog'
  id='contactModal'
  aria-hidden='true'
>
  <div class='modal-dialog' role='document'>
    <div class='modal-content'>
      <div class='modal-header'>
        <h5 class='modal-title'>Contact Me!</h5>
        <button
          type='button'
          class='btn-close'
          data-bs-dismiss='modal'
          aria-label='Close'
        ></button>
      </div>
      <div class='modal-body'>
        <form action='' id='contactForm' class='mb-0'>
          <div class='form-group'>
            <label for='contactName'>Name:</label>
            <input
              id='contactName'
              type='text'
              class='form-control'
              placeholder='Your name'
            />
          </div>
          <div class='form-group'>
            <label for='email'>Email:</label>
            <input
              id='email'
              type='email'
              class='form-control'
              placeholder='Your email'
            />
          </div>
          <div class='form-group'>
            <label for='phone'>Phone:</label>
            <input
              id='phone'
              type='tel'
              class='form-control'
              placeholder='555-555-5555'
            />
          </div>
          <div class='form-group'>
            <label for='message'>Message:</label>
            <textarea id='message' class='form-control' rows='3'></textarea>
          </div>
          <div class='modal-footer border-0'>
            <div
              id='sentSuccess'
              class='alert alert-success p-2 d-none'
              role='alert'
            >
              <i class='far fa-check-circle'></i>
              Email sent!
            </div>
            {{! <p id='sentSuccess' class='lead me-2 d-none'>Email sent!</p> }}
            <button
              class='btn btn-primary'
              type='submit'
              id='sendEmail'
            >Send!</button>
            <button
              class='btn btn-secondary'
              data-bs-dismiss='modal'
            >Close</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>