<section id='hero' class='d-flex justify-content-center align-items-center'>
  <div id='overlay'></div>
  <div id='header' class='container text-white text-center'>
    <!-- <img id="headshot" src="assets/images/headshot.png" alt="" srcset=""> -->
    <h1 id='name' class='display-1 mb-0'>Kyle Young</h1>
    <h3 class='display-5'>Full Stack Developer</h3>
  </div>
</section>

<section id='aboutMe' class=''>
  <div class='container text-center mt-5'>
    <h5 class='display-6'>Hello!</h5>
    <p class='lead'>My name is Kyle Young and I am a Full Stack Developer!</p>
    <div class='container-fluid' id='technologies'>
      <span><i class='devicon-html5-plain-wordmark colored'></i></span>
      <span><i class='devicon-css3-plain-wordmark colored'></i></span>
      <span><i class='devicon-bootstrap-plain colored'></i></span>
      <span><i class='devicon-javascript-plain colored'></i></span>
      <span><i class='devicon-jquery-plain-wordmark colored'></i></span>
      <span><i class='devicon-nodejs-plain colored'></i></span>
      <span><i class='devicon-npm-original-wordmark colored'></i></span>
      <span><i class='devicon-express-original colored'></i></span>
      <span><i class='devicon-mysql-plain colored'></i></span>
      <span><i class='devicon-sequelize-plain colored'></i></span>
      <span><i class='devicon-handlebars-plain colored'></i></span>
      <span><i class='devicon-github-original-wordmark colored'></i></span>
      <span><i class='devicon-git-plain-wordmark colored'></i></span>
      <span><i class='devicon-heroku-original-wordmark colored'></i></span>
      <span><i class='devicon-slack-plain colored'></i></span>
      <span><i class='devicon-visualstudio-plain colored'></i></span>
    </div>
  </div>
</section>

<section class='container-fluid' id='myWork'>
  <h3 class='display-4 text-center m-3'>My Work</h3>
  <!-- Lost & Found -->
  <div class='container-fluid projectContainer' id='lostFound'>
    <div class='row g-0 m-2 projectRow'>
      <div class='col-lg-6 text-left projectText p-5'>
        <h5 class='display-6'>Lost & Found</h5>
        <p class=''>
          A group project designed to allow users help one another by finding
          lost items throughout the world!
        </p>
        <h5>Technologies Used:</h5>
        <ul class='technologyList'>
          <li>Javascript</li>
          <li>Node.js</li>
          <li>Express.js</li>
          <li>Sequelize</li>
          <li>Handlebars</li>
        </ul>
        <a
          href='https://glacial-fortress-45860.herokuapp.com/'
          target='_blank'
          class='btn btn-large btn-primary'
        >Show Me!</a>
      </div>
      <div class='col-lg-6 d-none d-sm-block imgContainer'>
      </div>
    </div>
  </div>
  <!-- Tech Blog -->
  <div class='container-fluid projectContainer' id='techBlog'>
    <div class='row g-0 m-2 projectRow'>
      <div class='col-lg-6 order-lg-2 text-left projectText p-5'>
        <h5 class='display-6'>Tech Blog</h5>
        <p class=''>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur
          eius dignissimos vero quisquam praesentium quam officia odio ipsum
          iste quis?
        </p>
        <h5>Technologies Used:</h5>
        <ul class='technologyList'>
          <li>Javascript</li>
          <li>Node.js</li>
          <li>Express.js</li>
          <li>Sequelize</li>
          <li>Handlebars</li>
        </ul>
        <a href='' class='btn btn-large btn-primary' target='_blank'>Show Me!</a>
      </div>
      <div class='col-lg-6 order-lg-1 d-none d-sm-block imgContainer'>
      </div>
    </div>
  </div>
  <!-- Note Taker -->
  <div class='container-fluid projectContainer' id='noteTaker'>
    <div class='row g-0 m-2 projectRow'>
      <div class='col-lg-6 text-left p-5 projectText'>
        <h5 class='display-6'>Note Taker</h5>
        <p class=''>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Odio earum
          voluptas aperiam pariatur unde doloremque eligendi voluptatum sed
          asperiores ab.
        </p>
        <h5>Technologies Used</h5>
        <ul class='technologyList'>
          <li>Javascript</li>
          <li>Node.js</li>
          <li>Express.js</li>
          <li>Sequelize</li>
          <li>Handlebars</li>
        </ul>
        <a href='' class='btn btn btn-large btn-primary' target='_blank'>Show
          Me!</a>
      </div>
      <div class='col-lg-6 d-none d-sm-block imgContainer'>
      </div>
    </div>
  </div>
  <!-- Weather Dashboard -->
  <div class='container-fluid projectContainer' id='weatherDash'>
    <div class='row g-0 m-2 projectRow'>
      <div class='col-lg-6 order-lg-2 text-left projectText p-5'>
        <h5 class='display-6'>Weather Dashboard</h5>
        <p class=''>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur
          eius dignissimos vero quisquam praesentium quam officia odio ipsum
          iste quis?
        </p>
        <h5>Technologies Used:</h5>
        <ul class='technologyList'>
          <li>Javascript</li>
          <li>Node.js</li>
          <li>Express.js</li>
          <li>Sequelize</li>
          <li>Handlebars</li>
        </ul>
        <a href='' class='btn btn-large btn-primary' target='_blank'>Show Me!</a>
      </div>
      <div class='col-lg-6 order-lg-1 d-none d-sm-block imgContainer'>
      </div>
    </div>
  </div>
</section>

<footer class='container-fluid' id='contactMe'>

</footer>