body {
  font-family: 'Prompt', sans-serif;

  // background from: https://projects.verou.me/css3patterns/
  background: radial-gradient(
      circle,
      transparent 20%,
      slategray 20%,
      slategray 80%,
      transparent 80%,
      transparent
    ),
    radial-gradient(
        circle,
        transparent 20%,
        slategray 20%,
        slategray 80%,
        transparent 80%,
        transparent
      )
      50px 50px,
    linear-gradient(#a8b1bb 8px, transparent 8px) 0 -4px,
    linear-gradient(90deg, #a8b1bb 8px, transparent 8px) -4px 0;
  background-color: slategray;
  background-size: 100px 100px, 100px 100px, 50px 50px, 50px 50px;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Itim', cursive;
}

.navbar {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 3;
  #kmyNav {
    .nav-link:hover {
      color: white;
    }
  }
}
.navScroll {
  background: black;
}

#hero {
  background: url('../images/header.jpeg') center center / cover no-repeat;
  min-height: 750px;
  position: relative;
  #header {
    z-index: 2;
  }
  #overlay {
    background: rgba(0, 0, 0, 0.25);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }
  h1 {
    line-height: 1;
  }
  #headshot {
    position: relative;
    top: 15%;
  }
}

#aboutMe {
  background: #d0d1d1ce;
  #technologies {
    span {
      i {
        font-size: 4rem;
        margin: 4px;
      }
    }
  }
}

#myWork {
  background: #d0d1d1ce;

  .projectContainer {
    .projectRow {
      .projectText {
        background: rgba(218, 216, 216, 0.836);
        .technologyList {
          list-style: none;
        }
      }
      .imgContainer {
        min-height: 400px;
      }
    }
  }
  #lostFound {
    .imgContainer {
      background: url('../images/lost-found.png') top center / cover no-repeat;
    }
  }
  #techBlog {
    .imgContainer {
      background: url('../images/tech-blog.png') top left / cover no-repeat;
      // min-height: 400px;
    }
  }
  #noteTaker {
    .imgContainer {
      background: url('../images/note-taker.png') top center / cover no-repeat;
      // min-height: 400px;
    }
  }
  #weatherDash {
    .imgContainer {
      background: url('../images/weather-dashboard.png') top left / cover
        no-repeat;
      // min-height: 400px;
    }
  }
}

footer {
  // background from: https://projects.verou.me/css3patterns/
  background: radial-gradient(black 15%, transparent 16%) 0 0,
    radial-gradient(black 15%, transparent 16%) 8px 8px,
    radial-gradient(rgba(255, 255, 255, 0.1) 15%, transparent 20%) 0 1px,
    radial-gradient(rgba(255, 255, 255, 0.1) 15%, transparent 20%) 8px 9px;
  background-color: #282828;
  background-size: 16px 16px;
  .nav-link {
    color: white;
    i {
      font-size: 3rem;
    }
  }
}
