body {
  font-family: 'Prompt', sans-serif;
  background: #868686be;
  // color: white;
}

.navbar {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 3;
  .navbar-brand {
    font-family: 'Itim', cursive;
  }
}

#hero {
  background: url('../images/header.jpeg') center center / cover no-repeat;
  min-height: 750px;
  position: relative;
  #header {
    z-index: 2;
  }
  #overlay {
    background: rgba(0, 0, 0, 0.25);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }
  h1 {
    font-family: 'Itim', cursive;
    line-height: 1;
  }
  h3 {
    font-weight: 100;
  }
  // #headshot {
  //   position: relative;
  //   top: 15%;
  // }
}

#aboutMe {
  #technologies2 {
    span {
      i {
        font-size: 4rem;
        margin: 4px;
      }
    }
  }
}

#myWork {
  .projectContainer {
    .projectRow {
      .projectText {
        background: rgba(218, 216, 216, 0.836);
        .technologyList {
          list-style: none;
        }
      }
      .imgContainer {
        min-height: 400px;
      }
    }
  }
  #lostFound {
    .imgContainer {
      background: url('../images/lost-found.png') top center / cover no-repeat;
    }
  }
  #techBlog {
    .imgContainer {
      background: url('../images/tech-blog.png') top left / cover no-repeat;
      // min-height: 400px;
    }
  }
  #noteTaker {
    .imgContainer {
      background: url('../images/note-taker.png') top center / cover no-repeat;
      // min-height: 400px;
    }
  }
  #weatherDash {
    .imgContainer {
      background: url('../images/weather-dashboard.png') top left / cover
        no-repeat;
      // min-height: 400px;
    }
  }
}
